.flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .col-12 {
    width: 100%;
  }
  
  .col-lg-10 {
    width: 80%;
    max-width: 80%;
  }
  
  .card-login {
    background-color: transparent;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    border-radius: 0.25rem;
 
    margin-bottom: 1rem;
  }
  
  .card-header-login {
    background-color: #343a40;
    color:brown;
    text-align: center;
    padding: 0.5rem 1rem;
  }
  
  .card-body-login {
    padding: 1rem;
    margin:0 auto;
  }
  
  .form-input-login {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: brown;
    background-color: mintcream;
    background-clip: padding-box;
    border: 1px solid brown;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 0.5rem;
  }
  
  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
  }
  
  .btn-primary {
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }
  
  .bg-danger {
    background-color: #dc3545 !important;
  }
  
  .text-light {
    color: #ffffff !important;
  }
  
  .text-white {
    color: #ffffff !important;
  }
  
  .my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .p-2 {
    padding: 0.5rem !important;
  }
  
  .p-3 {
    padding: 1rem !important;
  }
  